body{
    margin: 0px;
}

.navbar{
    float: none;
}

.container-fluid{
    margin: 50px;
}

.container-fluid i{
    font-size: x-large;
    color: black;
    /* margin-left: 250px; */
}

.menu-bar{
    height: 700px;
    width: 200px;
    float: left;
    background: blueviolet;
    transform: translateX(-130px);
    transition: all 1s;
    position: sticky;
    
}

.menu-bar:hover{
    transform: translateX(0px);
}

.menu-bar:hover i{
    transform: translateX(-120px);
    transition: all 1s;
}

.menu-bar:hover p{
    transform: translateX(+60px);
    transition: all 1s;
}


.content-box{
    height: 700px;
    width: 100%;
    background-color: lightgrey;
    float: none;
}

/* .menu-select{
    display: flex;
    margin: 15px;
} */
.menu-select-box{
    font-size: x-large;
    color: white;
    padding: 20px;

}


.menu-select{
    display: flex;
} 

.menu-select p{
    margin-right: 50px;
    margin-bottom: 30px;
    /*flex 자식요소에 해당 코드 추가 시 
    각각의 폭도 동일하게 적용  */
    flex: 1;
} 

.menu-select i{
    padding-top: 10px;
}

.content-title{
    padding: 30px;
    font-weight: bold;
    margin-right: 800px;
}

.me-2:focus{
    width: 400px;
    transition: all 0.5s;
}

#myChart{
    width: 150px;
    height: 150px;
}

.card-box{
    display: flex;
    margin: 15px;  
}
.card{
    margin: 10px;
    border-radius: 15px;
    height: 150px;
}

.chart-list-box{
    display: flex;
}

.list-box{
    padding: 20px;
}

.list-group{
    width: 500px;
    height: 300px;
}

.card-text{
    font-size: 25px;
}

.card i{
    float: right;
    font-size: x-large;
}

.card:hover{
    animation-name: 흔들흔들;
    animation-duration: 1s;
    background-color: black;
    color: white;
    transition: all 1s;
    font-size: 35;

}

.card:hover p{
    transition: all 1s;
    font-size: 35px;
}

.navbar{
    height: 150px;
}

.lorem-box{
    float: left;
}

@keyframes 흔들흔들{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(-10deg);
    }

    50%{
        transform: rotate(10deg);
    }

    75%{
        transform: rotate(-10deg);
    }

    100%{
        transform: rotate(0deg);
    }
}
